:root {
  --black: #181818;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: rgb(222, 252, 240);
}

* {
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 3rem;
}

label {
  display: block;
  margin: 10px 0 5px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

form {
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  padding: 15px;
  /* border: 4px solid #defcf0; */
  border: 1px transparent;
  border-radius: 10px;
  background-color: #61ffc0;
  box-shadow: 0px 0px 20px -5px #59f7b8;
  /* box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2); */
  margin: 1rem;
  font-weight: bold;
  width: 90%;
  text-decoration: none;
}

button {
  background-color: rgb(24, 234, 157);
  color: var(--black);
  padding: 15px;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}
button:hover {
  /* background-color: rgb(27, 198, 136); */
  border: 2px solid rgb(0, 0, 0);
}
